@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
header{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}
li{
    display: inline-block;
    padding: 20px;
}
a{
    text-decoration: none;
    color: white;
}